[submodule "lib/coregui"]
	path = lib/coregui
	url = https://github.com/torphedo/coregui
[submodule "lib/bobtail"]
	path = lib/bobtail
	url = https://github.com/torphedo/bobtail
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "lib/imgui_node_editor"]
	path = lib/imgui_node_editor
	url = https://github.com/thedmd/imgui-node-editor
